.line-break  {
   word-break:break-all
}

.non-resizable  {
resize: none;
}

.table tbody>tr>td.vert-align{
    vertical-align: middle;
}

.no-gap-row-below {
  margin-bottom: 0;
}

.small-gap-row-below {
  margin-bottom: 1px;
}
